body {
    background-image: url(../Assets/Images/PortfolioSite.png);
    background-color: #311047;
    background-size: 65%;
    justify-content: center;
    background-position-x: center;
    background-repeat: no-repeat    ;
}

@media (max-width: 800px) {
  body {
    background-size: 150vw; /* Increase the size when the width is smaller */
  }
}

@media (max-width: 500px) {
  body {
    background-size: 200vw; /* Even larger when the screen is narrower */
  }
}